Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

# `pandas` Practicum

## DataFrame Creation

In [ ]:
import pandas as pd
import os
import os.path

datadir = "publicdata"

**Ex1:** The cell that follows defines parallel lists with columns for the country names, the drives-right logical, and the cpc, the number of motor vehicles per 1000 people in the corresponding country.

In the successor cell, write a function 
```
createCars(names, drives_right, cars_per_thousand)
```
to create a dictionary from the parallel lists and then use the dictionary to build a pandas dataframe and return the dataframe.

In [ ]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

cars = createCars(names, dr, cpc)
cars

**Ex2:** Rewrite your `createCars` function from above to include a new last parameter with the names of the row labels and use those to set the index for the newly created dataframe.

In [ ]:
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# YOUR CODE HERE
raise NotImplementedError()

cars = createCars(names, dr, cpc, row_labels)
cars

**Ex3:** Use the `pandas` function `read_csv()` to retrieve the data from the data directory's `'cars.csv'` file and build a dataframe named `cars`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

cars

**Ex4:** Revise your solution from the previous problem to specify which column contains the row labels (index) for the data frame you want to build.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

# Print out cars
cars

## DataFrame Access

The purpose of the second section is to show some of the basic operations for accessing subsets of the data.  These subsets could include:

- **projection**
  - single column subset
    - as a Series/vector
    - as a one column DataFrame (using one-element list within access brackets)
  - multiple column subset
    - using list within access brackets
    - using list as column specfication in `loc`, `iloc`
    
- **selection**
  - single row subset
    - as a Series
      - use single row specification (only) with `loc`, `iloc`
    - as a one row DataFrame
      - using one element list for row specification and `loc`, `iloc`
  - multiple row subset 
    - using integer slice notation within access brackets
      - does not work for row labels, only integer indices
    - using multiple element list for row specification and `loc`, `iloc`
  
- combining **projection** and **selection**
  - use `loc`, `iloc` 
    - `[<row-spec>, <col-spec>]`
  - Single row and single column, can get single (scalar) value
  - List or slice gets multiple
    - multiple in one dimension but single in other dimension, then we get a Series vector
    - multiple in both dimensions gets a dataframe

### Projection (subset columns)

**Ex1:** Using the `cars` dataframe from the previous section, perform the following projections:

**a.** Single column projection of the `country` column as a Series vector.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**b.** Single column projection of the `country` column yielding a one column DataFrame.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**c.** Two column projection (as a DataFrame) including the `country` and the `drives_right` columns.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

### Selection (subset rows)

**Ex2:** Using the `cars` dataframe from the previous section, perform the following selections of rows using integer indices:

**a.** The first 3 rows/observations in the DataFrame

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**b.** The fourth, fifth, and sixth observations

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Ex3:** Using the `cars` dataframe, perform the following selections of rows using `loc` and `iloc`.  For each, use `print` to show the result of the expression, and do **both** the `loc` and the `iloc` version.

**a.** Select the observation for Japan as a Series.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**b.** Select the observations for Australia and Egypt as a DataFrame.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

### Combining Selection and Projection

**Ex4:** Using the `cars` dataframe, perform the following selection/projection combinations to retrieve a single element of the dataframe.  As in Ex3, use print to show your results and give both a `loc` and an `iloc` version of the solution.

**a.** Access the single *scalar* element for the Morocco row and the drives_right column.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**b.** Access the (sub) DataFrame consisting of a single row and a single column for the Morocco row and the drives_right column.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Ex5:** Using the `cars` dataframe, and using a slice open on both sides (`':'`) for the row specification (i.e. retrieve all rows), perform the following column projections.  You may select either `loc` or `iloc` and do not need to provide both variations here.

**a.** Retrieve/project the drives_right column as a **Series**

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**b.** Retrieve/project the drives_right column as a **DataFrame**

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**c.** Retrieve/project the cars_per_cap and drives_right columns as a **DataFrame**

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Las Vegas Tourism

**Ex** In the file `"tourism.csv"` we have compiled data collected by the Las Vegas tourism bureau.  Read the file inm constructing a data frame named `lv_df`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Ex** Write an expression giving a sub-dataframe showing five months with the most visitors to Las Vegas in the data set.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Ex** Use Series aggregation to assign to `max_visitors` the maximum number of visitors in the data set.  End the cell by using the variable as an expression to display the result.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Ex** Notice that the `date` column is a mashup, comprised of a month name, a hyphen, and a year.  In the first of the next two cells, you should define a function (prefereably a lambda) that, given a date yields the month name from that date.  You will then apply that function to the `date` column, yielding a new column that you will add to the dataset with a column name of `month`.  End the cell with the expression for the first five rows of the result.  In the second cell, perform the set of steps to add a `year` column to the dataset.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Ex** Project columns year, month, visitors, convention, and roomsavail and assign to `lv_df2`.  Finish by showing the last 7 lines of the result.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Ex** Obtain a Series with the average number of visitors, convention, and roomsavail from the data set, assigning to `avg_vals` and finishing the cell with the variable expression.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Ex** Compute the average number of visitors, convention, and roomsavail **by year** in a DataFrame named `avg_vals_year`, ending with the variable expression.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Ex** Obtain a DataFrame with the mean and maximum number of visitors and convention, and minimum number of roomsavail from the data set, assigning to `agg_vals_month` but group by month.  Finish the cell with the variable expression.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()