Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

# Pandas

## Focus on Data Transformation Objectives

> Assumption: that we have a pandas data frame in two dimensions

## Pandas Tutorials
- http://pandas.pydata.org/pandas-docs/stable/10min.html
- https://pandas.pydata.org/pandas-docs/stable/tutorials.html

Attribution for table examples: [**R for Data Science**](http://r4ds.had.co.nz/) by Garrett Grolemund and Hadley Wickham.  The work itself is licensed under the [Creative Commons Attribution-NonCommercial-NoDerivs 3.0](http://creativecommons.org/licenses/by-nc-nd/3.0/us/)

In [ ]:
import pandas as pd
import requests as req
import numpy as np

# Start with some examples:

table1columns = ["country",  "year",       "type",     "count"]
table1data =[ ["Afghanistan",  1999,      "cases",       745],
              ["Afghanistan",  1999, "population",  19987071],
              ["Afghanistan",  2000,      "cases",      2666],
              ["Afghanistan",  2000, "population",  20595360],
              [     "Brazil",  1999,      "cases",     37737],
              [     "Brazil",  1999, "population", 172006362],
              [     "Brazil",  2000,      "cases",     80488],
              [     "Brazil",  2000, "population", 174504898],
              [      "China",  1999,      "cases",    212258],
              [      "China",  1999, "population",1272915272],
              [      "China",  2000,      "cases",    213766],
              [      "China",  2000, "population",1280428583] ]

table2columns = ["country", "year", "srate"]
table2data = [ ["Afghanistan",  1999,      "745/19987071"],
               ["Afghanistan",  2000,     "2666/20595360"],
               [     "Brazil",  1999,   "37737/172006362"],
               [     "Brazil",  2000,   "80488/174504898"],
               [      "China",  1999, "212258/1272915272"],
               [      "China",  2000, "213766/1280428583"] ]

table3acolumns = ["country", "year", "cases"]
table3adata = [ ["Afghanistan",  1999,    745],
                ["Afghanistan",  2000,   2666],
                [     "Brazil",  1999,  37737],
                [     "Brazil",  2000,  80488],
                [      "China",  1999, 212258],
                [      "China",  2000, 213766] ]

table3bcolumns = ["country", "year", "population"]
table3bdata =[ ["Afghanistan",  1999,   19987071],
               ["Afghanistan",  2000,   20595360],
               [     "Brazil",  1999,  172006362],
               [     "Brazil",  2000,  174504898],
               [      "China",  1999, 1272915272],
               [      "China",  2000, 1280428583] ]

table4acolumns = ["country", "1999", "2000"]
table4adata = [ ["Afghanistan",    745,   2666],
                [     "Brazil",  37737,  80488],
                [      "China", 212258, 213766] ]

table4bcolumns = ["country", "1999", "2000"]
table4bdata = [ ["Afghanistan",   19987071,   20595360],
                [     "Brazil",  172006362,  174504898],
                [      "China", 1272915272, 1280428583] ]

table5columns = ["country","year","cases","population"]
table5data =[ ["Afghanistan",  1999,    745,   19987071],
              ["Afghanistan",  2000,   2666,   20595360],
              [     "Brazil",  1999,  37737,  172006362],
              [     "Brazil",  2000,  80488,  174504898],
              [      "China",  1999, 212258, 1272915272],
              [      "China",  2000, 213766, 1280428583] ]

In [ ]:
table1 = pd.DataFrame(table1data, columns=table1columns)
table2 = pd.DataFrame(table2data, columns=table2columns)
table3a = pd.DataFrame(table3adata, columns=table3acolumns)
table3b = pd.DataFrame(table3bdata, columns=table3bcolumns)
table4a = pd.DataFrame(table4adata, columns=table4acolumns)
table4b = pd.DataFrame(table4bdata, columns=table4bcolumns)
table5 = pd.DataFrame(table5data, columns=table5columns)

In [ ]:
table1

In [ ]:
table2

In [ ]:
get_rate = lambda s: s.split('/')[0]
rates = table2['srate'].apply(get_rate)

In [ ]:
rates

In [ ]:
table2['rate'] = rates

In [ ]:
table2

In [ ]:
table3a

In [ ]:
table3b

In [ ]:
table4a

In [ ]:
table4b

In [ ]:
table5