Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [ ]:
import pandas as pd
import os
import os.path

datadir = "publicdata"

In [ ]:
topnames = pd.read_csv(os.path.join(datadir, "topnames.csv"))
topfemale = pd.read_csv(os.path.join(datadir, "topfemale.csv"))
topmale = pd.read_csv(os.path.join(datadir, "topmale.csv"))
namesbyyear = pd.read_csv(os.path.join(datadir, "namesbyyear.csv"))
#print(list(namesbyyear.columns)[1:])
cindex = ['sex'] + list(namesbyyear.columns)[1:]
#print(cindex)
namesbyyear.columns = cindex
countsbyyear = pd.read_csv(os.path.join(datadir, "countsbyyear.csv"))
countsbyyear.columns = cindex.copy()

namesbyyear2 = pd.read_csv(os.path.join(datadir, "namesbyyear2.csv"))
namesbyyear2.columns = cindex.copy()

gendercount = pd.read_csv(os.path.join(datadir, "gendercount.csv"))

In [ ]:
topfemale.head()

In [ ]:
topmale.head()

**Q** In data frames `topmale` and `topfemale`, we have the names and counts for the entire topnames data set for the Male part of the data set and for the Female part of the data set.  Create a tidy data set (one in which year, sex -> name, count).  Call it `tidy1`.  Let `tidy1` not have an index, and sort based on year, then sex.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
tidy1.head(10)

In [ ]:
assert len(tidy1) == 278
assert tidy1.iloc[0]['year'] == 1880
assert tidy1.iloc[0]['count'] == 7065
assert tidy1.iloc[0]['name'] == 'Mary'
assert tidy1.iloc[0]['sex'] == 'Female'
assert tidy1.iloc[277]['year'] == 2018
assert tidy1.iloc[277]['count'] == 19837
assert tidy1.iloc[277]['name'] == 'Liam'
assert tidy1.iloc[277]['sex'] == 'Male'

In [ ]:
namesbyyear

In [ ]:
countsbyyear

**Q** In data frames `namesbyyear` and `countsbyyear`, we have the names and counts for the a subset of the topnames data set.  Each has two rows, one for each sex (in a column named `sex`) and columns for the years from 2014 to 2018.  Create a tidy data set (one in which year, sex -> name, count).  Call it `tidy2`.  Let `tidy2` not have an index, and sort based on year, then sex.  Don't forget to convert a column that came from column labels (a string) into the appropriate data type.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
tidy2

In [ ]:
assert len(tidy2) == 10
assert tidy2.iloc[0]['year'] == 2014
assert tidy2.iloc[0]['count'] == 20936
assert tidy2.iloc[0]['name'] == 'Emma'
assert tidy2.iloc[0]['sex'] == 'Female'
assert tidy2.iloc[9]['year'] == 2018
assert tidy2.iloc[9]['count'] == 19837
assert tidy2.iloc[9]['name'] == 'Liam'
assert tidy2.iloc[9]['sex'] == 'Male'

**Q** Consider the `namesbyyear2` data frame below.  Transform into a tidy data set named `tidy3`, with no index, and sorted by year and then sex.

In [ ]:
namesbyyear2

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
tidy3

In [ ]:
assert len(tidy3) == 10
assert tidy3.iloc[0]['year'] == 2014
assert tidy3.iloc[0]['count'] == 20936
assert tidy3.iloc[0]['name'] == 'Emma'
assert tidy3.iloc[0]['sex'] == 'Female'
assert tidy3.iloc[9]['year'] == 2018
assert tidy3.iloc[9]['count'] == 19837
assert tidy3.iloc[9]['name'] == 'Liam'
assert tidy3.iloc[9]['sex'] == 'Male'

**Q** Challenge Problem.  Consider the `gendercount` data frame, a prefix of which is shown below.  Convert into a tidy data frame named `tidy4`, indexed by year and sex, and sorted by that index.  Hint1: Because we ultimately want to do a pivot, but have strings in the value column, a `pivot_table`, which expects numerics for possible aggregation, will not work.  Hint2: If we create the "right" row index, both `pivot` and `unstack` can become available to us.

In [ ]:
gendercount.head()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
tidy4

In [ ]:
assert len(tidy4) == 278
assert tidy4.iloc[0]['count'] == 7065
assert tidy4.iloc[0]['name'] == 'Mary'
assert tidy4.iloc[277]['count'] == 19837
assert tidy4.iloc[277]['name'] == 'Liam'