Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE`/`raise NotImplementedError` or "YOUR ANSWER HERE", as well as your name and collaborators below:

**Q1** Give 2-3 reasonable column constraints for the data frame `indicators`.

YOUR ANSWER HERE

**Q2** Describe one of the examples of an un-tidy way to display the `topnames` dataset, and explain what specifically makes it un-tidy.

YOUR ANSWER HERE

**Q3** Does the repetition created by the *melt* operation mean that the resulting data frame is un-tidy?

YOUR ANSWER HERE

**Q4** The reading gives an example of a data frame that melts into our usual `topnames` example. Give an example of a data frame that melts into `indicators[['code','year','pop']]`. Hint: your example should have lots of columns.

YOUR ANSWER HERE

**Q5** Write a sentence describing the number of rows after a melt, based on the number before the melt and the number of melt columns. Does it matter how many non-melt columns there are?

YOUR ANSWER HERE

**Q6** Read the documentation for stack, including how to stack only a subset of the columns. Then apply stack to the `pandas` dataframe created from this list of lists:

`headers = ['sex',  2015,  2016,  2017]
data = [['Female',  'Emma',  'Emma',  'Emma'],
        ['Male',  'Noah',  'Noah',  'Liam']]`

YOUR ANSWER HERE

**Q7** Looking at the Pivot Operation Figure, how can you tell how many new columns and new rows will be present after a pivot operation, based on the columns `index`, `pivot`, and `value` in the original data frame?

YOUR ANSWER HERE

**Q8** In the data frame `pivot_ex1`, could you have done `pivot` with other choices of index columns? If so, explain in detail what would have happened.

YOUR ANSWER HERE

**Q9** Carry out the arithmetic to explain why the values in the `pivot_table` examples are different, i.e., explain where 30.25, 7.5, 6, and 12.25 come from in the first table, and where 60.5 and 24.5 come from in the second table.

YOUR ANSWER HERE