Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE`/`raise NotImplementedError` or "YOUR ANSWER HERE", as well as your name and collaborators below:

## Set User Credentials

With a shared resource at a provider like a MySQL RDBMS, we need to use credentials to authenticate ourselves to the server, and need the logical location of the server itself.

For these notebooks, these are kept in a text file named 'creds.json', stored either in the same directory or in a data directory.  For this notebook, this is stored in the same directory as the notebook.

- Right click on the `creds.json` file and select *Open With*->*Editor*
- Replace the mysql dictionary's key for "user" (currently `"nostudent"`) with the base part of your email address (i.e. without the `@denison.edu`).  Your password on the mysql server, at present, is the same as your user, so change that from `"nostudent"` as well.  The server should be correct, mapped to `"hadoop2.mathsci.denison.edu"`. Likewise, the scheme should be correct, mapped to `"mysql+mysqlconnector"`. 

**Make sure to use double quotes for strings** ... this is `JSON`, not Python, and we have to follow JSON syntax.

Once this is complete, execute the following cell to connect to the database and start SQL magic. If you are off-campus you will need to use a VPN first.

In [ ]:
import pandas as pd
import os
import os.path
import json

def getmysql_creds(dirname=".",filename="creds.json"):
    """ Using directory and filename parameters, open a credentials file
        and obtain the four parts needed for a connection string to
        a remote provider using the "mysql" dictionary within
        an outer dictionary.  
        
        Return a scheme, server, user, and password
    """
    assert os.path.isfile(os.path.join(dirname, filename))
    with open(os.path.join(dirname, filename)) as f:
        D = json.load(f)
    mysql = D["mysql"]
    return mysql["scheme"], mysql["server"], mysql["user"], mysql["pass"]

scheme, server, user, password = getmysql_creds()
template = '{}://{}:{}@{}/'
cstring = template.format(scheme, user, password, server)
%load_ext sql
%sql $cstring
%sql USE school

**Q1** Using the SQL database `school`, select departments (by name) and instructors in each department (first and last name). Order alphabetically by department name and then instructor last name. Only include departments that have instructors and instructors that are part of departments.

In [ ]:
# Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head()

In [ ]:
# Testing cell
assert len(resultdf) == 293
assert list(resultdf.columns) == ['departmentname', 'instructorfirst', 'instructorlast']

**Q2** Find the departments (id only) that offer strictly more than one subject. Keep the default ordering (alphabetical by departmentid).

In [ ]:
# Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head()

In [ ]:
# Testing cell
assert len(resultdf) == 11
assert resultdf.loc[3, 'count'] == 4
assert resultdf.loc[8, 'count'] == 8

**Q3** In reference to the `school` database, what courses are offered by the econ department in the spring semester? Please list courses (subject and number) not classes, and don't include directed or independent studies.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head()

In [ ]:
# Testing cell
assert len(resultdf) == 15

**Q4** In reference to the `school` database, which instructors (first and last name) were teaching in the spring semester? Your result should not include duplicates.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head()

In [ ]:
# Testing cell
assert len(resultdf) == 267
assert 'Nestor' in list(resultdf['instructorfirst'])
assert 'Weis' in list(resultdf['instructorlast'])