In [46]:
import os
import os.path
import pandas as pd

In [47]:
datadir = 'publicdata'
filename = 'population.csv'
popdf = pd.read_csv(os.path.join(datadir, filename))

In [48]:
popdf

            year      population
0    Jul 1, 2018  327.17 million
1    Jul 1, 2017  325.15 million
2    Jul 1, 2016  323.07 million
3    Jul 1, 2015  320.74 million
4    Jul 1, 2014  318.39 million
..           ...             ...
114  Jul 1, 1904   82.17 million
115  Jul 1, 1903   80.63 million
116  Jul 1, 1902   79.16 million
117  Jul 1, 1901   77.58 million
118  Jul 1, 1900   76.09 million

[119 rows x 2 columns]

In [49]:
getyear = lambda s: int(s.split(',')[1])
getpop = lambda s: int(float(s.split()[0]) * 1000000)

In [50]:
popdf['year2'] = popdf.year.apply(getyear)

In [51]:
popdf['pop2'] = popdf.population.apply(getpop)

In [52]:
popdf = popdf[['year2', 'pop2']]
popdf.columns = ['year', 'population']
popdf

     year  population
0    2018   327170000
1    2017   325150000
2    2016   323070000
3    2015   320740000
4    2014   318390000
..    ...         ...
114  1904    82170000
115  1903    80630000
116  1902    79160000
117  1901    77580000
118  1900    76090000

[119 rows x 2 columns]

In [53]:
popdf[popdf.year == 1910]

     year  population
108  1910    92410000

In [54]:
popdf[popdf.year == 1910].population / 1000 * 30.1

108    2781541.0
Name: population, dtype: float64

In [55]:
namedf = pd.read_csv(os.path.join(datadir,'topnames.csv'))

In [57]:
namespop = pd.merge(namedf,popdf,how="left",on="year")

In [58]:
namespop.to_csv(os.path.join(datadir,"namespop.csv"),index=False)