Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE`/`raise NotImplementedError` or "YOUR ANSWER HERE", as well as your name and collaborators below:

**Q1** Consider the primary key of the `topnames` dataset. Will this key determine rows uniquely in the future? Explain, by thinking through what it would mean for the world if the answer was "yes" and if the answer was "no".

YOUR ANSWER HERE

**Q2** Is it possible to have fields that are part of the set of independent variables but not part of a primary key? Explain.

YOUR ANSWER HERE

**Q3** The reading recommends avoiding "repeated fields between tables." Does that mean that in the `school` database we should avoid having `studentid` in both `students` and in `student_class`? Explain.

YOUR ANSWER HERE

**Q4** Please think of an example, different from any in the book, of a field containing a list of values, then explain the remedy.

YOUR ANSWER HERE

**Q5** In the case of `majors`, it is reasonable to assume that no student has more than 3 majors, so one could reasonably add new columns like `major1,major2,major3`. Consider a database of pet owners, with a table `owners` where the entities are people (and various fields like `address`, `age`, `gender`, etc). Imagine a column `cats` whose value for a given row (owner) is a list of all cats that person owns. Could this table be represented using columns `cat1`, `cat2`, etc? Explain. Then explain how, specifically, you would modify your database to avoid having a column that takes list values.

YOUR ANSWER HERE

**Q6** Give an example of a data type field constraint, and its impact in real-world terms.

YOUR ANSWER HERE

**Q7** What are the three types of relationships between tables? Define and give an example of each, different from examples already in the text.

YOUR ANSWER HERE

**Q8** Give an example construction of the `countries` table including data type constraints, and using the `UNIQUE` keyword. You can mimic the example of creation of the `subjects` table.

YOUR ANSWER HERE

**Q9** Explain how to use a `CHECK` constraint to ensure that, when inserting birth numbers into `topnames`, it is impossible to insert a negative number.

YOUR ANSWER HERE

**Q10** If you were dropping tables from the `school` database, what order would you drop in and why?

YOUR ANSWER HERE

**Q11** How would you describe the relationship between the *value-list* and the *column-list* when inserting values? Where have you seen this kind of relationship between two lists before?

YOUR ANSWER HERE

**Q12** With respect to the `movies` table, what are the pros and cons of making the default value for `rating` be 0.0 instead of NULL?

YOUR ANSWER HERE

**Q13** Consider the `LoL` example for insertion. How would you modify this example to work even if the `LoL` has columns in the wrong order, e.g., putting `rating` as the third field and `release` as the fourth? This might happen if the `LoL` was created based on an old version of the database schema.

YOUR ANSWER HERE

**Q14** How would the code in example 2 change if the headers in the csv file were `ID,name,released,stars`?

YOUR ANSWER HERE

**Q15** If the csv file in example 2 had the same data as the LoL in example 1, what would be the first value of `row` in the for-loop in example 2?

YOUR ANSWER HERE