Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [ ]:
import pandas as pd

import os
import os.path

datadir = "publicdata"

**Q** Assign to `tourism` a DataFrame from the `tourism.csv` file in the data directory.  Using `head()` and `tail()` see the date range extent of the data.  The `date` column should be the index for the dataframe.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(tourism.shape)
tourism.tail()

**Q** Assign to `tourism2` a DataFrame from the `tourism2.csv` file in the data directory.  Looking at the dataframe, see what rows and columns are part of this data frame?  How does that compare with `tourism`?  If we wanted to combine these two, from a logical operation standpoint, how would you describe the desired outcome?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(tourism2.shape)
tourism2.head()

**Q** For the goal determined in the last question, and looking at Sect. 8.3.1 in the book, create a new DataFrame called `tourism_full` that combines the two data frames.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(tourism_full.shape)
tourism_full.tail(8)

**Q** Now suppose that we are given a file, `gamingrevenue.csv` that has additional information on the gross revenue for gaming and three sub parts: the revenue from the Las Vegas strip, from downtown Las Vegas, and from the Boulder strip.  Read this into a DataFrame named `gr` and use `head()` and `tail()` to understand the rows and columns.  How does this relate to `tourism_full`?  If we wanted to combine these two, what logical operation is required?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(gr.shape)
gr.tail()

**Q** Now, using the information in Sect. 8.3.2 of the book, create a data frame named `tourism_allcol` that combines these two data frames.  Why are the aguments to this combining function different than the arguments used to create the `tourism_full`?  Look carefully at the columns printed for `tourism_fill`?  Did you get what you expect?  If not, how would you modify your combining operation (either before the combination, or "fixing up" after the operation)?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(tourism_allcol.shape)
print(tourism_allcol.columns)

**Q** Optional Follow-on: generate `gr` such that the column name present in both `gr` and `tourism_full` is named `gr2` in the `gr` data frame.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(gr.shape)
gr.tail()

**Q** Optional follow-on: Repeat the combination operation so that we end with unique column names and a total of 14 columns.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(tourism_allcol.shape)
print(tourism_allcol.columns)

**Q** Optional follow-on: Sometimes, when we create a dataframe and we *assume* two columns to have the same values, like `gamingrevenue` and `gr2` in this case, we want to *verify* our assumption.  Assign to `diffgr` the *filtered subset of rows* of `tourism_allcol` subject to the condition that the `gr2` and `gamingrevenue` columns are *different*.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(diffgr.shape)
diffgr

**Q** Optional follow-on:  the next two questions follow a line of reasoning where the rows between two data frames are **not all the same**, and we combine along the column dimension.  Our original data frame `tourism` was not complete on its rows for August 2019 through December 2019, but our gaming revenue data frame, `gr` has rows for January 2017 through December 2019.  Combine these two tables along the column dimension, assigning to `partial`, and include named argument `sort=` with argument of boolean `False`.  From the `shape` attribute of the result, compare the number of rows in `partial` to the number of rows in `tourism` and `gr`.  Use `head()` and `tail()` on `partial` to understand the result in this case.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(partial.shape)

**Q** Optional follow-on: The result in partial gives us a chance to further understand how the `dropna` method works.  Assign to `partial2` the result of dropping na's from `partial` along the row axis with named parameter `how=` set to `'all'`, and assign to `partial3` the result of dropping na's from `partial` along the row axis with named parameter `how=` set to `'any'`.  Using `shape`, `head()`, and `tail()` understand the difference.  Which would you want to use in this case?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(partial2.shape, partial3.shape)

**Q** Optional follow-on:  Suppose we wanted to see whether or not the three gaming revenue columns from the Las Vegas strip, from Downtown Las Vegas, and from the Boulder strip added up to the total gaming revenue (`gr2` or `gamingrevenue`) in `tourism_allcol`.  Define the steps to create a new column for `tourism_allcol` containing the the difference between the total gaming revenue and the sum of the parts?  Is the difference 0?  If it is not, how would we get the average and median difference?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
tourism_allcol.head()

**Q** Read the `"join1.csv"` and `"join2.csv"` into data frames and assign to variables `join1` and `join2` respectively.  Examine their contents and write down their functional dependencies.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
print(join1)
print(join2)

**Q** Assign to `join_inner` the inner join of `join1` and `join2`, using the `join()` method as described in [Join/Merge](http://hadoop.mathsci.denison.edu/bookweb/8-ch-tabularadvancedops.html#joiningmerging-dataframes) from the book.  Examine the result.  How does this compare to a simple combining along the column dimension?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
join_inner

**Q** Assign to `join_left` the left join of `join1` and `join2`, using the `join()` method.  Examine the result.  How does this compare to a simple combining along the column dimension?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
join_left

**Q** Read `"join3.csv"` into a data frames and assign to variable `join3`.  Examine its contents and write down its functional dependency.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
join3

**Q** Reset the index of `join3` in place, and then perform a pandas `merge()` function between the new `join3` and `join2`.  Use an `on=` column of `"code"` and a `how=` of `"inner"`.  Assign to `join_inner` and understand the result.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
join_inner

**Q** Perform a pandas `merge()` function between the new `join3` and `join2`.  Use an `on=` column of `"code"` and this time use a `how=` of `"left"`.  Assign to `join_inner` and understand the result.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
join_left