Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [ ]:
import pandas as pd
import os
import os.path
from IPython.display import Image
datadir = "publicdata"
figdir = "figures"

In [ ]:
## Data sets used in the inclass activity

column_labels = ['I', 'J', '1', '2', '3']
row_labels = ['A', 'B', 'C']
dataset = [[ 'A.I', 'A.J', 'A.1', 'A.2', 'A.3' ],
           [ 'B.I', 'B.J', 'B.1', 'B.2', 'B.3' ],
           [ 'C.I', 'C.J', 'C.1', 'C.2', 'C.3' ]]
example2 = pd.DataFrame(dataset, columns=column_labels, index=row_labels)
example1 = example2.drop('J', axis=1)

row_labels = ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']
column_labels = ['I', 'J', 'K', 'V']
dataset = [[ 'A.I', 'A.J', 'K.1', 'A1.V'],
           [ 'A.I', 'A.J', 'K.2', 'A2.V'],
           [ 'B.I', 'B.J', 'K.1', 'B1.V'],
           [ 'B.I', 'B.J', 'K.2', 'B2.V'],
           [ 'C.I', 'C.J', 'K.1', 'C1.V'],
           [ 'C.I', 'C.J', 'K.2', 'C2.V'],
]
pivot_ex2 = pd.DataFrame(dataset, columns=column_labels, index=row_labels)
pivot_ex1 = pivot_ex2.drop('J', axis=1)

row_labels = ['A1', 'A2', 'B1', 'B2', 'C1', 'C2']
column_labels = ['I', 'K', 'V1', 'V2']
dataset = [[ 'A.I', 'K.1', 'A1.V1', 'A1.V2'],
           [ 'A.I', 'K.2', 'A2.V1', 'A2.V2'],
           [ 'B.I', 'K.1', 'B1.V1', 'B1.V2'],
           [ 'B.I', 'K.2', 'B2.V1', 'B2.V2'],
           [ 'C.I', 'K.1', 'C1.V1', 'C1.V2'],
           [ 'C.I', 'K.2', 'C2.V1', 'C2.V2']
]
pivot_ex2 = pd.DataFrame(dataset, columns=column_labels, index=row_labels)

p = os.path.join(datadir, "babybyyear.csv")
babynames = pd.read_csv(p)

p = os.path.join(datadir, "indicators_ex.csv")
indicators = pd.read_csv(p)

datarows = [
['CHN',  2010,  1337.70,   6087.16],
['CHN',  2015,  1371.22,  11015.54],
['CHN',  2018,  1392.73,  13608.15],
['GBR',  2010,    62.77,   2452.90],
['GBR',  2015,    65.13,   2896.42],
['IND',  2010,  1234.28,   1675.62],
['IND',  2015,  1310.15,   2103.59]]
indicators2 = pd.DataFrame(datarows, columns=['code','year','pop','gdp'])

column_labels = ['I', 'P', 'V1', 'V2']
dataset = [['A', 'w', 15, 23.5],
           ['A', 'x', 10, 42.5],
           ['A', 'x', 5, 18.0],
           ['B', 'w', 8, 10.2],
           ['B', 'w', 4, 14.3],
           ['B', 'x', 6, 12.5]]
table = pd.DataFrame(dataset, columns=column_labels)

p=os.path.join(datadir, "ind2.csv")
ind2 = pd.read_csv(p)

In [ ]:
example1

**Q** Create the transpose of `example1` and assign to `result1`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Note the new method of incorporating a jpg into a notebook.  You will use this for Project 1
#
Image(filename=os.path.join(figdir, "melt.jpg"),
     width=350)

**Q** Melt `example1` with melt columns of 1,2, and 3, giving name of new variable column as `K` and name of the new value column as `V`.  Assign to `meltresult1`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
meltresult1

**Q** Modify `meltresult1` in place so that the row index is made up of `I` and `K`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
meltresult1

In [ ]:
babynames

**Q** Melt the `babynames` frame so that `sex` is not melted and the new variable and new value are named appropriately.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
meltresult2

In [ ]:
example2

**Q** Melt `example2` so that neither `I` nor `J` are melted, and name the new variable and new value columns appropriately.  Assign to `meltresult3`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
meltresult3

In [ ]:
example1

**Q** Optional Setup: To use `stack`, we need a version of `example1` where the row index is `I` and the column index not only has the remaining columns, but the Index has a `name` of `K`.  Assign this new version as `example1_i`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
example1_i

**Q** Optional: Now perform a stack operation on `example1_i`, assigning to `stack1`.  What is the type of the returned value?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
stack1

**Q** Optional: Construct a DataFrame from the result, and make sure to name the column(s) appropriately.  Assign to `stack1_df`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
stack1_df

In [ ]:
babynames

**Q** Optional: Set up the indices on `babynames` (call it `babynames2`) such that a stack yields the intended result. Is the year inner index named `'year'`?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
baby2_stack

In [ ]:
Image(filename=os.path.join(figdir, "pivot.jpg"),
     width=400)

In [ ]:
pivot_ex1

**Q** With "Index" of `I` and "Pivot" of `K`, transform pivot_ex1, assigning to pivot_result1

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
pivot_result1

In [ ]:
pivot_ex2

**Q** Invoke the `pivot()` method on `pivot_ex2` such that we still have "Index" of `I`, a "Pivot" of `K`, but now specify the `values=` named parameter as the list of columns `V1` and `V2`. Assign to `pivot_result2`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()
pivot_result2

In [ ]:
meltresult2

**Q** Consider the babynames result we got from an earlier exercise, and named `meltresult2`.  Pivot, using an "Index" of `year`, and "Pivot" as `sex` and "Value" of `name.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Repeat the pivot, now using an "Index" of `sex`, and "Pivot" as `year` and "Value" of `name.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
indicators

**Q** Pivot the `indicators` data frame using an "Index" of `code` and a "Pivot" of `year`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Pivot the `indicators` data frame using an "Index" of `year` and a "Pivot" of `code`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
indicators2

**Q** Consider what is different about the `indicators2` data frame from the original `indicators` data frame.  If we pivot using an "Index" of `code` and a "Pivot" of `year`, how many rows should we get in the result?  What are the columns?  What happens for a resultant row when we have a row/column combination that was not present in the original?  Try it now and resolve the reality with your expectation.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
table

**Q** The `pivot_table()` operation is more general than `pivot()` and is used in two instances where `pivot()` is not sufficient.  The first of these uses occurs when an "Index"/"Pivot" combination occurs more than once in a table, so there are *multiple* values that must be combined into a single row of the result.  Examine `table` above and see where this occurs.  Then invoke `pivot_table` with an "Index" of `I` and a "Pivot" of `P`.  Assign to `pivoted`.  ... understand the result.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Specify, in an invocation of `pivot_table`, the `aggfunc=` named parameter as a dictionary mapping `'V1'` to the mean aggregation function and `'V2'` to the sum aggregation function.  Again assign the result to `pivoted`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
ind2

**Q** The other time we need `pivot_table` over `pivot` is when the "Index" is comprised of **multiple** columns.  In this case, the "Index" is specified as a list of column names.  Invoke `pivot_table` with an "Index" of both `code` and `year` and with "Pivot" as `indicator`.  Note the row index (single versus two-level) and the column index (single versus tow-level).  Does the result make sense?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()