Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE`/`raise NotImplementedError` or "YOUR ANSWER HERE", as well as your name and collaborators below:

**Q1** Give a real-world example, different from any in the reading, of a situation where it might be important for many different individuals to have access to the same database.

YOUR ANSWER HERE

**Q2** Give a real-world example, based on your experience of a time you shared an electronic resource or document with another person, of how a system you've used has handled consistency. What happened if two users tried to update it at the same time? What if users made changes while offline, and syncing was only possible when both came back online?

YOUR ANSWER HERE

**Q3** The reading explains the importance of database transactions. Using the language from the reading, give an example from the field of banking, showing why database transactions are important in the real world (e.g., what could go wrong if we didn't have such a notion). Hint: you can use the example in the text as inspiration.

YOUR ANSWER HERE

**Q4** When we were making data tidy in previous chapters, we often needed to move back and forth between integer and string representations of years by applying `int()` and `str()` to the column `years`. Would this be possible in a database? Why or why not?

YOUR ANSWER HERE

**Q5** Which of these are allowable field names in a database and why?
1. `Address/PO`
2. `num-cases`
3. `number of visits`
4. `pop_size`
5. `socialSecurity#`
6. `4chanUsername`

YOUR ANSWER HERE

**Q6** Make a list of 4-5 fields that could be present in a hypothetical `student` database (with information on students), then modify the `CREATE TABLE` command to fit this example. Don't forget to specify a key.

YOUR ANSWER HERE

**Q7** The reading mentions that, when a database is created, each column is given a name, data type, data size, and "possibly other constraints". Give a real-world example with a specific column and another constraint one might wish for it.

YOUR ANSWER HERE

**Q8** The reading provides examples of many-to-one and many-to-many relationships between database tables. Give an example of a one-to-one relationship between two tables.

YOUR ANSWER HERE

**Q9** To understand the Client/Provider Database Interaction, use a program like MySQLWorkbench to connect to the databases provided with the book. Describe your experience, as a user, of establishing a connection, selecting a database, and viewing the data inside it.

YOUR ANSWER HERE

**Q10** Can you think of another table that the `topnames` table might have a relation to, analogous to the relationship between `countries` and `indicators`? Explain.

YOUR ANSWER HERE

**Q11** The text reads "Our updated syntax uses the math | to allow selection of alternatives" - how do you pronounce the symbol `|`? What does it mean?

YOUR ANSWER HERE

**Q12** Consider the example:
`SELECT pop FROM (SELECT code, pop, gdp FROM indicators0) AS select1`

How could you modify this example to rename `pop` to `Population` in the final output?

YOUR ANSWER HERE

**Q13** What SQL query would you use to select the data (all columns) for the top ten countries in the world by life expectancy?

YOUR ANSWER HERE

**Q14** Suppose `table` is some generic table (i.e., any example you want to think about). What would it mean if `SELECT DISTINCT * FROM table` resulted in fewer rows than `SELECT * FROM table`?

YOUR ANSWER HERE

**Q15** Rewrite the SQL query
`SELECT * FROM indicators1
WHERE life BETWEEN 65 AND 75`

to avoid `BETWEEN` (but you can use operators and keywords as needed). Hint: be careful with parentheses.

YOUR ANSWER HERE

**Q16** Consider the SQL query
`SELECT code, country, region FROM countries
WHERE country LIKE '%Republic' OR code LIKE '_ZA'`

How could you test in Python if the `country` is "like" `%Republic`? How could you test if the `code` is "like" `_ZA`? Be precise.

YOUR ANSWER HERE