Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [ ]:
import pandas as pd
import os
import os.path

datadir = 'publicdata'

In [ ]:
tbcolumns = ["country","year","cases","population"]
tbdata = [ ["Afghanistan",  1999,    745,   19987071],
           ["Afghanistan",  2000,   2666,   20595360],
           [     "Brazil",  1999,  37737,  172006362],
           [     "Brazil",  2000,  80488,  174504898],
           [      "China",  1999, 212258, 1272915272],
           [      "China",  2000, 213766, 1280428583] ]

tbcases = {'country': ["Afghanistan", "Afghanistan", "Brazil", "Brazil", "China", "China"],
           'year': [1999, 2000, 1999, 2000, 1999, 2000],
           'cases': [745, 2666, 37737, 80488, 212258, 213766],
           'population': [ 19987071, 20595360, 172006362, 174504898, 1272915272, 1280428583 ]
          }

In [ ]:
def readSimpleCSV_LoL(path):
    """
    create list of row lists representation of the data in a csv referred to by path.
    return both the list of column names and the list of lists.
    
    note that this function does **no** conversion of data types for string
    versions of numbers
    
    path: string containing path to valid indicators data
    """
    if not os.path.isfile(path):
        return None
    
    LoL = []
    f = open(path, 'rt')
    
    colnames = f.readline().strip().split(',')
    
    for line in f:
        colvals = line.strip().split(',')
        LoL.append(colvals)
    
    f.close()
    return colnames, LoL

**Q** Call the `readSimpleCSV_LoL()` with `"indicators2016.csv"` and assign to variables `colnames` and `LoL` the returned values.  Finish with the expression for LoL

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Create a `pandas` dataframe called `ind_df` with the DataFrame constructor and finish with `ind_df`.  Start by **just** passing LoL as the dataset, then change and correct so that columns are named properly.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Call the `info()` method (no arguments) on the dataframe as an expression.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Assign to `ind_df2` the result of invoking the `set_index` method, passing the independent variable.  Finish with `ind_df2` as an expression.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Use the `type_conversion` below to change the data types for the `pop`, `gdp`, `life`, and `cell` columns to floats, and assign to ind_df3.  Call the `info()` method (no arguments) on the dataframe as an expression.  Understand the difference between the two `info()` results.

In [ ]:
type_conversion = {'pop': float, 'gdp': float, 'life': float, 'cell': float}
# YOUR CODE HERE
raise NotImplementedError()

**Q** Create a dataframe, `tb_df` using the dictionary constant defined above.  Set the index as the combination of independent variables `country` and `year`, using `set_index`, and doing the operation `inplace`. Finish with the `tb_df` expression.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Call the `info()` method (no arguments) on the dataframe as an expression.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** In the `ind_df3` dataframe, project the life expectancy column, first by access operator `[]`, then by attribute.  Just use expressions, do not assign.  What is the **data type** of what is returned.  If you are not sure, put the expression as an argument to the `type()` function call.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Attempt the two ways of getting the `pop` single column projection.  Why did you see what you did?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Convert the `pop` column to a list.  Leave as an expression.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Project the `cell` column followed by using the access operator with an integer position of 3 for Russia. Does this work with either way of projecting a single column?  What is the data type of the result?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Project the two columns of `cell` and `life` (in that order) from `ind_df3` as an expression.  Put the expression in a `type()` function call and see if the result is what you expect.  Explain why the `code` column is part of the result.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Select *just* the `CAN` row from `ind_df3` dataframe.  Use the `loc` attribute and an access operator with a single expression.  What is the data type of the result?  Use the `type()` function if you need to.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Using *slice* notation, select the rows fron `IND` through `USA` inclusive.  What is the data type of the result?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Same question as above, but select the rows in the opposite order.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Now use the `loc` attribute with two expressions, separated by a comma, to get rows from `IND` to `RUS` and columns from `country` to `pop`.  What is the data type of the result?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Same rows, but now we want to just project columns `country`, `gdp`, and `life`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Calculate, as an expression, a column Series in which the `cell` column is divided by the `pop` column.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Use the `pandas` `read_csv()` function to read the `"topnames"` csv file into a dataframe. Assign to `tn_df` and invoke the `head()` method to see the first 10 rows.  Is there a (row) index?  Figure out how to revise your dataframe creation so that there is an index.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** In any time that remains, practice with as many different access operations described in Chapter 7 with ant of these data sets.