Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE`/`raise NotImplementedError` or "YOUR ANSWER HERE", as well as your name and collaborators below:

**Q1** Give an example of a *procedural mutation* of a dataset. Hint: think of a time you learned or programmed an algorithm to change the data.

YOUR ANSWER HERE

**Q2** List the three types of constraints mentioned in the reading, and an example of each (different from the examples in the reading).

YOUR ANSWER HERE

**Q3** List the tabular operations from the reading and describe examples of each, referring back to earlier chapters if necessary. Go beyond the words in the text, e.g., instead of "aggregation operations" you could discuss a time when you needed to compute the sum of all entries in a column of data.

YOUR ANSWER HERE

**Q4** List the four tenets of tabular data, and describe examples of what it would look like to violate each one.

YOUR ANSWER HERE

**Q5** Describe an example of a database schema to store information about people, their homes, and their car registration information. For each table, describe at least three attributes, and describe the links between the tables.

YOUR ANSWER HERE

**Q6** List the relational model operations and give an example of each. If necessary, you can google "database join," or peek ahead to future chapters.

YOUR ANSWER HERE

**Q7** Give an example of a database constraint. Hint: think about the example in the text, and "uniqueness."

YOUR ANSWER HERE

**Q8** Describe part of the tree structure of a webpage you are familiar with. Instead of drawing a picture as in the text, you could type your response using indentation, as in this example:

    catalog
        book [id = "bk101"]
            author
                Shakespeare
            title
                Henry IV
            price
                $10.95
        book [id = "bk102"]
            author
            title
            price
        ...
        book [id = "bk200"]
            author
            title
            price

YOUR ANSWER HERE

**Q9** List two similarities and two differences between the relational data model and the tabular data model.

YOUR ANSWER HERE

**Q10** List two similarities and two differences between the hierarchical data model and the tabular data model.

YOUR ANSWER HERE

**Q11** List two similarities and two differences between the hierarchical data model and the relational data model.

YOUR ANSWER HERE