Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE`/`raise NotImplementedError` or "YOUR ANSWER HERE", as well as your name and collaborators below:

**Q1** Check out the online documentation for the `insert()` command in `pandas`, and then write down a line of code that would insert a column named `'code'`, with values `code_series`, in position index 2, into `ind2`. You can assume that column `'code'` has already been popped from `ind2` before you start, like in the reading.

YOUR ANSWER HERE

**Q2** Run the following code, and then explain precisely why Python gets confused. Note: you will first need to have a data frame named `indicators`, so check out the `publicdata` directory.

`country_cell = indicators[['country', 'cell']]
country_cell['cellper'] = indicators.cell / indicators['pop']`

YOUR ANSWER HERE

**Q3** The reading shows how to update the `'CHN'` and `'USA'` rows of `ind2` to add 5 to the values in the life expectancy column. Show how to do the same thing using `iloc`.

YOUR ANSWER HERE

**Q4** Read the online documentation about `sort_values()` in `pandas` and then show how to mutate the `ind2` data frame to sort it by the values in the life expectancy column. When you do so, explain the meaning of your `inplace` setting.

YOUR ANSWER HERE

**Q5** Consider the code that concatenates `indicators1` and `indicators2` by row (`axis=0`). Suppose that, when defining `indicators1`, we use the code 

`indicators1 = indicators.loc[['CHN', 'IND', 'USA'], 'life' ]` 

instead of 

`indicators1 = indicators.loc[['CHN', 'IND', 'USA'], :'life' ]`

Explain what happens in `combined` and why.

YOUR ANSWER HERE

**Q6** What happens if we use `concat` with `ignore_index = True` on a data frame that *does* have a meaningful index, like `'code'` in `indicators`?

YOUR ANSWER HERE

**Q7** Give a real-world example, different from the one in the book, when you might want to combine two datasets with the same rows but different columns, along a column level. Does your example represent tidy data? Why or why not?

YOUR ANSWER HERE

**Q8** Is the inner join symmetric? In other words, does it matter if you do `join1.join(join2, how="inner")` or `join2.join(join1, how="inner")`?

YOUR ANSWER HERE

**Q9** What happens if you use `merge` when you meant to use `join`, i.e. on a column that is an index?

YOUR ANSWER HERE

**Q10** Give a real-world example, different from the one in the book, plus a reason you might want to do an inner join instead of a left or right join.

YOUR ANSWER HERE