Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE`/`raise NotImplementedError` or "YOUR ANSWER HERE", as well as your name and collaborators below:

**Q1** In the following SQL query, what happens for a row where `pop = 0`?

`SELECT code, pop * 1.15 AS newpop, 
       cell / pop AS cellper, life > 75 AS longlife
FROM indicators0
`

YOUR ANSWER HERE

**Q2** In `pandas` when we did aggregate and groupby, it was permissible to choose different sets of aggregates for different variables, e.g., `df.agg({'population':['min','max'],'cases':['mean','max']})`

Can you do the same with SQL? Explain.

YOUR ANSWER HERE

**Q3** In the example below, what precisely is being computed, in real world terms, and how would you compute the same in `pandas`?

`SELECT year, MAX(life) AS max_life
FROM indicators
GROUP BY year
ORDER BY max_life DESC`

YOUR ANSWER HERE

**Q4** What SQL query would tell you the number of `countries` in each of the eight regions?

YOUR ANSWER HERE

**Q5** With reference to the `student` database, why is there a field `classterm` in `classes` but no `courseterm` in `courses`?

YOUR ANSWER HERE

**Q6** The `USING` keyword is one way to solve the problem of a duplicate `code` column (at least, when the conditions for `USING` are met). Explain another way to avoid selecting a duplicate column when doing an `INNER JOIN` on `PG.code = IE.code`.

YOUR ANSWER HERE

**Q7** In the `topnames` join example, *what would happen and why*, if we only matched on year rather than year and sex, e.g., doing:

`SELECT C.year, C.sex, C.count, N.name 
FROM counts AS C INNER JOIN names AS N
     ON C.year = N.year`

YOUR ANSWER HERE

**Q8** As another example to illustrate a three-table join, imagine:
1. a table `usa_births` with fields `year` and `births` that gives the total number of new births each year
2. a table `usa_pop` with fields `year` and `pop`, containing the population of the USA for each year
3. `topnames`
Explain how to build the information of these three tables into the `topnames` table using a single query with multiple `INNER JOIN` commands.

YOUR ANSWER HERE