Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [ ]:
import pandas as pd
import os
import os.path

datadir = 'publicdata'

In [ ]:
tbcases = {'country': ["Afghanistan", "Afghanistan", "Brazil", "Brazil", "China", "China"],
           'year': [1999, 2000, 1999, 2000, 1999, 2000],
           'cases': [745, 2666, 37737, 80488, 212258, 213766],
           'population': [ 19987071, 20595360, 172006362, 174504898, 1272915272, 1280428583 ]
          }
tb_df = pd.DataFrame(tbcases)
tb_df.set_index(['country', 'year'], inplace=True)

ind_df = pd.read_csv(os.path.join(datadir,"indicators2016.csv"), index_col='code')

## Construction with `read_csv()`

**Q** Use `read_csv()` to construct a dataframe from the `"topnames.csv"` file, assign to `tn_df`, and use `head()` as an expression to show the first 5 rows.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Use **help** to navigate to `pandas reference` and search for `read_csv()` and select the top search return.  In the signature and then in the descriptions of the parameters, find the `index_col` parameter.  By reading the description, figure out how to create `tn_df2` with a MultiIndex for the independent variables.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Recreate `tn_df2` by using `read_csv` and then setting the row label index using `year` and `sex` in a separate step, and doing so *without* creating a new DataFrame.  End with an invocation of `tail()` showing the last 10 rows.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Review of Basic Access

**Summary of Access Operations from Last Week**

- Project Single Column as Series
    - access operator and string name
    - attribute shortcut
- Single Element as Scalar
    - as single column projection composed with Series integer position in access operator; can use a row-label index instead of an integer position
    - using `.loc[]` with **exactly one** specification for comma separated *row-spec* and *col-spec*
- Project Multiple Columns
    - access operator with explicit list as "argument"
- Select Multiple Rows
    - `.loc[]` with slice for *row-spec* and no *col-spec*
- Combination Projection and Selection
    - `.loc[]` with slice for *row-spec* and slice for *col-spec*
    - `.loc[]` with slice for *row-spec* and explicit list for *col-spec*

**Q** In the eight cells that follow, write an expression as an example for each of the access operations we demonstrated last week, using the `tb_df` DataFrame created at the beginning of this notebook.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

The next set of steps is intended to explore the ways we can specify the *row-spec* and *col-spec* when we use the `.loc` attribute and the access operator (`[` `]`), with comma separated *row-spec* and *col-spec* within the access operator.  We will use the indicators2016 data in the `ind_df` Data Frame.  For each question, we ask for a variation which you provide in the first cell, and then put that same expression in a call to `type()` in the second cell.

**Q** Use **exactly-one** row and col specs to give the population of Vietnam.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Use a **potentially-multiple** row spec and an **exactly-one** col spec to get the life expectancy of Canada, China, and India.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Use an **exactly-one** row spec and a **potentially-multiple** col spec to get `country` and `cell` for the United States

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Use **potentially-multiple** for both row and col specs to get population and gdp for the countries from Russia to the end of the table.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Boolean Vectors and Row Filtering

**Q** Write an expression that yields a boolean vector (Series whose elements are True/False Boolean values) for the cases in the indicators data set where the population is larger than the number of cell phones.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Write an expression that yields a boolean vector indicating the cases in the topnames data set where application counts are greater than 25000.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Write an expression to filter the topnames dataset to select the rows where the count is greater than 25000.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

### Filtering rows by categorical row label index

**Q** Write an expression that obtains the subset of topnames (`tn_df2`, which has a multilevel index) where the 'sex' level of the dataframe index is equal to the key `'Female'`.  Use the cross-section (`xs`) method with named parameters `key=` and `level=`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Aggregating Series and DataFrames

**Q** Write an expression that gives a scalar of the median `count` in topnames.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Write an expression for the average population from the tb data frame.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Write an expression for the average population in 2000 from the tb data frame.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Obtain an expression which gives a Series of the unique names in the topnames data set.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Write an expression that yields the counts of the names in the topnames data set.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Write an expression that yields the mean of all the numeric columns in the indicators data set.  Assign to ind_means and use that as the last expression in the cell.  What is the type of the result?  What comprises the index?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Given `ind_means`, write a single print statement that prints, as separate expressions,the cell and life entries of `ind_means`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Using the `agg` method, write an expression that aggregates the indicators data frame and yields a DataFrame with the median and max for population, but just the max for cell.  What comprises the Index for the columns?  What comprises the Index for the rows?  Think about how you would access any of the individual elements in the result, if you had assigned it to a variable.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## GroupBy

Bring class together with Picture and discussion.  Lead conceptually through Partition, Aggregate, and Combine.  Then come back here and work through first couple examples.

**Q** Invoke the groupby method on the tn_df2 dataframe, once for `level=` of `year`, assigning to `groupby_year`, and once for column `name`, assigning to `groupby_name`.  End the cell printing the length of each object.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Print the `groupby_year`.  Did you get what you expected?

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Write a dictionary that maps `count` to the list of `'count'`, `'median'` and `'sum'` and then invoke the `agg` method on the `groupby_name` object.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()