Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE`/`raise NotImplementedError` or "YOUR ANSWER HERE", as well as your name and collaborators below:

**Q1** Think back to the student table example from the previous chapter, and give a logical mapping describing the relationship between the independent and dependent variables.

YOUR ANSWER HERE

**Q2** The text describes many ways to store the baby name data in tables. Give another way, different from any in the text, and then describe whether it fails any of the assumptions TidyData1 through TidyData3 (and if so, which one it fails).

YOUR ANSWER HERE

**Q3** If you create a csv file that is "double-spaced" (meaning, a blank line between each line of data), does this represent tidy data? Explain.

YOUR ANSWER HERE

**Q4** It is common to write an address with commas, and different addresses sometimes require different numbers of commas, e.g. `Department of Mathematics and Computer Science, 100 W. College Street, Granville, OH 43023` vs. `1600 Pennsylvania Ave NW, Washington, DC 20500`. Give a detailed explanation of how to include the address field in a csv file in such a way that different rows do not end up with different numbers of columns.

YOUR ANSWER HERE

**Q5** Can you imagine ever using both the `index=` and the `column=` options inside of `pd.DataFrame`? Explain.

YOUR ANSWER HERE

**Q6** When using the function `read_csv` in `pandas`, what is the connection between what you pass to `index_col` and with functional dependencies in the data?

YOUR ANSWER HERE

**Q7** Experiment with modifying your DoL or LoL to force the `info` function to result in some `null` data. What did you have to do to make this happen?

YOUR ANSWER HERE

**Q8** What is `topnames1` if you get confused about the `inplace` parameter and write a line of code like:

    topnames1 = topnames0.set_index(['year','sex'], inplace = True)

Where have you seen this kind of logical error before?

YOUR ANSWER HERE

**Q9** Experiment with the last code provided in the section, to bring in `'count'` as a `float` or as some other type. Are you able to change the `memory usage` reported from `info`? Does that change make sense?

YOUR ANSWER HERE

**Q10** Give an example of filtering in the context of the dataset of top names.

YOUR ANSWER HERE

**Q11** Give an example where you might wish to update a column in place.

YOUR ANSWER HERE

**Q12** Give an example of a real-world situation that would require you to add rows to a dataset.

YOUR ANSWER HERE

**Q13** Is an index just row labels, or is it also a column of data itself? Explain.

YOUR ANSWER HERE

**Q14** Give an example of a `pandas` method, by looking ahead if necessary.

YOUR ANSWER HERE

**Q15** In order to project onto a column using its name, like `indicators.gdp`, it must be the case that the column name is not the name of an existing attribute or method. Give an example where this could fail.

YOUR ANSWER HERE

**Q16** When accessing an element in a dataframe via double subsetting, what happens if you swap the rows and columns, e.g., `indicators['USA']['pop']`? Explain.

YOUR ANSWER HERE

**Q17** Give an example of an application of `apply` using an anonymous `lambda` expression.

YOUR ANSWER HERE