Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [ ]:
import pandas as pd
import os
import os.path
import json

def getmysql_creds(dirname=".",filename="creds.json"):
    """ Using directory and filename parameters, open a credentials file
        and obtain the four parts needed for a connection string to
        a remote provider using the "mysql" dictionary within
        an outer dictionary.  
        
        Return a scheme, server, user, and password
    """
    assert os.path.isfile(os.path.join(dirname, filename))
    with open(os.path.join(dirname, filename)) as f:
        D = json.load(f)
    mysql = D["mysql"]
    return mysql["scheme"], mysql["server"], mysql["user"], mysql["pass"]

> Edit `creds.json` for your user and password

In [ ]:
# Read creds.json and get info for connection string
scheme, server, user, password = getmysql_creds()

# Build the connection string
template = '{}://{}:{}@{}/'
cstring = template.format(scheme, user, password, server)

In [ ]:
%load_ext sql

In [ ]:
# Establish Connection with the Server
%sql $cstring

# Set default database
%sql USE school

## Column Vector Operations

Beyond the functions covered in the book, many SQL server-side implementations provide *many* string, numeric, and date/time functions.  Since we are using MySQL, and since these differ greatly by particular system, it is wise to look at the particular functions provided by the server we are using:

https://www.w3schools.com/sql/sql_ref_mysql.asp

The following cell uses an SQL command that works with **MySQL** databases.  The command is `DESCRIBE` and it is followed by the name of a table.  The result is a description of the schema for the table.  It can be useful to refresh one's memory on the fields and data types for a table, and we use it here to show the schema for the `students` table in the `school` database.

In [ ]:
%sql DESCRIBE school.students

**Q** Write a query to list all the columns for students from Oregon.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Modify your answer to the last question to calculate a `Name` column that concatenates a last name, a comma and space constant string, and a first name, and projects that new Name column along with student gender, student major, and student ethnicicy.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Set default database
%sql USE book

**Q** Compute the exports divided by the population in the indicators table along with the difference between exports and imports, including just rows for 2017. Show 15 rows in descending order of exports per capita. Bonus: Round each of the expressions to 2 decimal places.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Aggregation

**Q** Compute the number of countries in each income category from the `countries` table.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Compute the average and the sum of the exports in 2017 for the countries in the set of 'USA', 'GBR', 'QAT' and 'RUS' in the `indicators` data set

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Compare Females and Males in the `topnames` table, computing, for each, the smallest application count, the average application count, and the maximum application count.  Also include the number of distinct names for each partition.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Partition by name and sex in the `topnames` data set and compute the number of name/sex pairs in each partition and the average of the application counts.  Return the results in descending order of the counts followed by descending order of the average count.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

**Q** Compute the GDP divided by the population in the indicators table and include rows for 2017.  Then construct a nested query that provides a count of the number of countries that had a per capita GDP more than 40.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()