Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [ ]:
import pandas as pd
import os
import os.path
import json

def getmysql_creds(dirname=".",filename="creds.json"):
    """ Using directory and filename parameters, open a credentials file
        and obtain the four parts needed for a connection string to
        a remote provider using the "mysql" dictionary within
        an outer dictionary.  
        
        Return a scheme, server, user, and password
    """
    assert os.path.isfile(os.path.join(dirname, filename))
    with open(os.path.join(dirname, filename)) as f:
        D = json.load(f)
    mysql = D["mysql"]
    return mysql["scheme"], mysql["server"], mysql["user"], mysql["pass"]

query1 = "SELECT 1"

In [ ]:
# Load the Jupyter extension to allow sql magics
%load_ext sql

> Edit `creds.json` for your user and password

In [ ]:
# Read creds.json and get info for connection string
scheme, server, user, password = getmysql_creds()

# Build the connection string
template = '{}://{}:{}@{}/'
cstring = template.format(scheme, user, password, server)

# Establish Connection with the Server
%sql $cstring

# Set default database
%sql USE school1

**Q-1** What classes do not have an assigned instructor? Give the classid only.  Do I need a DISTINCT to get the correct result?  Using the result, determine how many classes do not not have an assigned instructor.  How would you modify the SQL to give *just* this number?

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head()

**Q-2** What classes in the SPRING do not have an assigned instructor?  Give the subject, number, and section only.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head()

**Q-3** What classes in the SPRING do not have an assigned instructor?  Give a count by course subject.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head(10)

**Q-4** What classes in the SPRING do not have an assigned instructor?  Give a count by course subject, and only include those subjects where there are 3 or more unassigned classes.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head(10)

**Q-5** Find the classes listed for the student whose id is 'D01351966' for their registered classes in the FALL.  Give the subject, the number, and the section.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head(10)

**Q-6** Find the classes listed for the student whose id is 'D01351966' for their registered classes in the FALL.  Give the subject, the number, section, along with the course title and the coursehours

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head(10)

**Q-7** Generate a table of student last names where **only one** student exists in the students table with that last name.  Give the results in reverse alphabetical order and restrict the number of returned values to 15.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf

**Q-8** Using one of the returned names from the last query, using **just a condition on the last name** obtain the list of courses for that student in the FALL semester, giving subject, number, section, course title, and course hours.

Hint: you will be more successful if you take things one step at a time, just like we did when developing the course list based on D-number in **Q-5** and **Q-6**.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf

**Q-9** For the same student, write a query that results in a one-by-one table consisting of just the studentid for that student.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf

**Q-10** Use the query from the last question as a **subquery** and place it in the context of the query where we were getting the FALL class schedule based on a comparison to the D-number of a student in **Q-6**.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head(10)

**Q-11** Now use the subquery technique with the **same subquery**, but place the subquery in place of the 'students' table from **Q-8**.  You will need to create an alias for this table created as a subquery in the FROM clause.  You should also no longer need the comparison of `studentlast` in the `WHERE` clause.

In [ ]:
#Solution cell

query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head(10)