Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [ ]:
import pandas as pd
import os
import os.path
import json

def getmysql_creds(dirname=".",filename="creds.json"):
    """ Using directory and filename parameters, open a credentials file
        and obtain the four parts needed for a connection string to
        a remote provider using the "mysql" dictionary within
        an outer dictionary.  
        
        Return a scheme, server, user, and password
    """
    assert os.path.isfile(os.path.join(dirname, filename))
    with open(os.path.join(dirname, filename)) as f:
        D = json.load(f)
    mysql = D["mysql"]
    return mysql["scheme"], mysql["server"], mysql["user"], mysql["pass"]

query1 = "SELECT 1"

In [ ]:
# Load the Jupyter extension to allow sql magics
%load_ext sql

> Edit `creds.json` for your user and password

In [ ]:
# Read creds.json and get info for connection string
scheme, server, user, password = getmysql_creds()

# Build the connection string
template = '{}://{}:{}@{}/'
cstring = template.format(scheme, user, password, server)

# Establish Connection with the Server
%sql $cstring

# Set default database
%sql USE book

**Q** How many rows are there in the `indicators` table?  Use an aggregation query to find out.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf

In [ ]:
assert resultdf.iloc[0,0] == 12862

**Q** Write a query to join all the records of `indicators` with any matching records from `countries`, limited to the year 2017.  At this point, limit to 12 result rows.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head()

In [ ]:
assert resultdf.shape == (12,12)

**Q** Extend the above to find the average life expectancy for each of the regions the countries belong to, and include a full count of the items in each partition and the count of the non-missing life values.  Make sure you no longer the limit the result.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultset

In [ ]:
assert len(resultset) == 3

**Q** Repeat the above, but use the income category to compare life expectancy.  Sort in descending order by average expected life span.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head()

In [ ]:
assert resultdf.shape == (5,4)

**Q** Determine the number of students (based on their major) that are associated with each division of the college.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
%sql USE school1
resultset = %sql $query
resultset

**Q** Write a query that yields all the 2017 entries and the `code` and `life` fields from the `indicators` table.  Note how many rows are in the result

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
print(len(resultset))
resultset.DataFrame().head(10)

In [ ]:
assert resultset.DataFrame().shape == (218,2)

**Q** Now, by putting the above query inside parenthesis, and including an `AS` alias for the (sub)query, join *this* table (instead of `indicators`) with countries and compare average life expectency by income category. Name your new columns `avg_life`, `num_country`, and `num_life`. Explain why we might choose this query over the original query, reasoning about the work done across the execution plan and its order.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf.head()

In [ ]:
assert resultdf.shape == (5,4)
assert 60 in list(resultdf['num_country'])
assert 66 in list(resultdf['num_life'])
assert 62.14 in list(resultdf['avg_life'])