Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [ ]:
import pandas as pd
import os
import os.path
import json

def getmysql_creds(dirname=".",filename="creds.json"):
    """ Using directory and filename parameters, open a credentials file
        and obtain the four parts needed for a connection string to
        a remote provider using the "mysql" dictionary within
        an outer dictionary.  
        
        Return a scheme, server, user, and password
    """
    assert os.path.isfile(os.path.join(dirname, filename))
    with open(os.path.join(dirname, filename)) as f:
        D = json.load(f)
    mysql = D["mysql"]
    return mysql["scheme"], mysql["server"], mysql["user"], mysql["pass"]

query1 = "SELECT 1"

In [ ]:
# Load the Jupyter extension to allow sql magics
%load_ext sql

> Edit `creds.json` for your user and password

In [ ]:
# Read creds.json and get info for connection string
scheme, server, user, password = getmysql_creds()

# Build the connection string
template = '{}://{}:{}@{}/'
cstring = template.format(scheme, user, password, server)

# Establish Connection with the Server
%sql $cstring

# Set default database
%sql USE book

**Q** Write a query to obtain all rows and all columns from table `ind0`

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultset

In [ ]:
assert len(resultset) == 6

**Q** Write a query to obtain all rows and all columns from table `countries0`

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultset

In [ ]:
assert len(resultset) == 3

**Q** Write a query that computes an inner join of `ind0` and `countries0` with a match condition of equality between the `code` field in the two tables.  Use aliases for the names of the two tables in the join, and employ those aliases in the `SELECT`.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultset

In [ ]:
assert len(resultset) == 4
assert resultset.DataFrame()['country'].isna().sum() == 0

**Q** Write a query that computes a left join of `ind0` and `countries0` with a match condition of equality between the `code` field in the two tables.  Use aliases for the names of the two tables in the join, and employ those aliases in the `SELECT`.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultset

In [ ]:
assert len(resultset) == 6
assert resultset.DataFrame()['country'].isna().sum() == 2

**Q** Write a query that computes a **right** join of `ind0` and `countries0` with a match condition of equality between the `code` field in the two tables.  Use aliases for the names of the two tables in the join, and employ those aliases in the `SELECT`.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultset

In [ ]:
assert len(resultset) == 5
assert resultset.DataFrame()['country'].isna().sum() == 0
assert resultset.DataFrame()['year'].isna().sum() == 1

**Q** Rewrite the previous query so that it only uses a **left join**.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultset

In [ ]:
assert len(resultset) == 5
assert resultset.DataFrame()['country'].isna().sum() == 0
assert resultset.DataFrame()['year'].isna().sum() == 1

In [ ]:
# Change over to make `school1` the default database
%sql USE school1

**Q** Find the unique divisions represented in the college

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultset

In [ ]:
assert len(resultset) == 5

**Q** Find the department id and department name for the departments in the sciences division of the college.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultset

In [ ]:
assert len(resultset) == 6

**Q** Extend the query of the last problem to include the name of the department chair and use an inner join to also display the chair's name in a Last, First format for the table of departments in the Natural Sciences. Call your new column `chairname`.

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf

In [ ]:
assert resultdf.shape == (4,4)
assert 'CHEM' in list(resultdf['departmentid'])

**Q** We want **all** departments in the sciences represented, not just the ones with a current chair.  Modify your query so that we obtain a full table of names.  Considering your solution, what value do you expect for the computed chair name field?

In [ ]:
query = """
"""
# YOUR CODE HERE
raise NotImplementedError()
resultset = %sql $query
resultdf = resultset.DataFrame()
resultdf

In [ ]:
assert resultdf.shape == (6,4)